.col-sm-12{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-sm-3{
    flex: 1 1 25%; 
    padding: 0.5px;
    border-radius: 1px solid #000;

    /* this should give four */
}

/* .post{
    width: 100%;
    display: flex;
    margin: 0.5px 0.5px;
} */
